! ----------------------------------------------------------------------------
! file:     ~/.Xresources
! author:   Martin Ortbauer 
! modified: 28 th June 2013
! ----------------------------------------------------------------------------
! {{{ Xterm
! {{{ General
XTerm*selectToClipboard: true
XTerm*utf8: 1
XTerm*termName: xterm-256color
XTerm*VT100.faceName:   Terminus:pixelsize=12
XTerm*internalBorder: 3
XTerm*loginShell: true
XTerm*scrollBar: false
XTerm*scrollKey: true
XTerm*saveLines: 1000
XTerm*multiClickTime: 250 
! }}}
! {{{ Mappings 
!
! Scrolling:
! Scroll Wheel
! Shift-PgUp/PgDn
!
! Copy/Paste:
! Mouse-Select : Copy to PRIMARY
! Shift + Mouse-Select: Copy to CLIPBOARD
!
! Middle-Click : Paste from PRIMARY
! Shift + Middle-Click: Paste from CLIPBOARD
!
! Ctrl+Shift+V : Paste from CLIPBOARD
! Ctrl+Alt+Shift+V : Paste from PRIMARY
!

*VT100.Translations: #override \
Shift <Key>Up: scroll-back(1) \n\
Shift <Key>Down: scroll-forw(1) \n\
~Meta Ctrl <Key>V: insert-selection(CLIPBOARD) \n\
Meta Shift Ctrl <Key>V: insert-selection(PRIMARY) \n\
~Shift <Btn1Up>: select-end(PRIMARY, CUT_BUFFER0) \n\
Shift <Btn1Up>: select-end(CLIPBOARD, CUT_BUFFER1) \n\
~Shift ~Ctrl ~Meta <Btn2Up>:insert-selection(PRIMARY, CUT_BUFFER0) \n\
Shift ~Ctrl ~Meta <Btn2Up>:insert-selection(CLIPBOARD, CUT_BUFFER1)

! }}}
! {{{ Colors
xterm*foreground:       #d3d3d3
xterm*background:       #000000
xterm*cursorColor:      orange
xterm*color0:           #151515
xterm*color8:           #505450
xterm*color1:           #bf7979
xterm*color9:           #f4a45f
xterm*color2:           #97b26b
xterm*color10:          #c5f779
xterm*color3:           #cdcda1
xterm*color11:          #ffffaf
xterm*color4:           #4a5463
xterm*color12:          #7d8794
xterm*color5:           #9c3885
xterm*color13:          #e628ba
xterm*color6:           #88aadd
xterm*color14:          #99ccff
xterm*color7:           #ffffff
xterm*color15:          #dedede
! }}}
! }}}
! {{{ Urxvt
! {{{ General
URxvt*cursorUnderline:  false
! transparent would be 32
URxvt*depth:            32
URxvt*buffered:         true
URxvt*jumpScroll:       true
URxvt*geometry:         112x25
URxvt*font:             xft:Terminus (TTF):pixelsize=18
URxvt*scrollBar:        false
URxvt*internalBorder:   6
URxvt*tabbed.new-button:no
URxvt*tabbed.title:     no
URxvt*dynamicColors:    no
URxvt*visualBell:       true
URxvt*urgentOnBell:     false
URxvt*termName:         rxvt-256color
URxvt*imLocale:         en_US.UTF-8
urxvt*loginShell:       false
URxvt*scrollstyle:      plain
URxvt*cursorBlink:      false
URxvt*cursorColor:      #EEC900
URxvt*borderless:       1
URxvt*skipBuiltinGlyphs:true
URxvt*xftAntialias:     true
URxvt*transparent:      false
! }}}
! {{{ Plugins
URxvt*perl-ext-common:  default,vtwheel,matcher,keyboard-select,clipboard,fullscreen,font-size
URxvt*url-launcher:     /usr/bin/firefox
URxvt*secondaryWheel:   true
URxvt*secondaryScroll:  false
urxvt*matcher.button:   1
URxvt.colorUL:          #4682B4
URxvt*saveLines:        2000

URxvt.keysym.M-s:       perl:keyboard-select:search
URxvt.keysym.C-Up:      perl:font-size:increase
URxvt.keysym.C-Down:    perl:font-size:decrease
URxvt.keysym.C-S-Up:    perl:font-size:incglobal
URxvt.keysym.C-S-Down:  perl:font-size:decglobal
URxvt*keysym.F11:       perl:fullscreen:switch

URxvt*print-pipe:       cat > $(echo urxvt.dump.`date +'%d'.'%m'.'%Y'.'%T'`)
! }}}
! {{{ Colours

! Black
!*color0: #222222
!*color8: #454545
! Red
!*color1: #9E5641
!*color9: #CC896D
! Green
!*color2: #6C7E55
!*color10: #7DB37D
! Yellow
!*color3: #CAAF2B
!*color11: #BFB556
! Blue
!*color4: #4c8ea1
!*color12: #6bc1d0
! Magenta
!*color5: #956D9D
!*color13: #C18FCB
! Cyan
!*color6: #7C9AA6
!*color14: #8FADBF
! White
!*color7: #909090
!*color15: #FFFFFF
! vim: et sw=2 syn=xdefaults

! Daisuke
URxvt*background: #000000
URxvt*foreground: #dcdccc
!black
URxvt*color0: #1e1e1e
URxvt*color8: #505050
!red
URxvt*color1: #b04020
URxvt*color9: #dd4010
!green
URxvt*color2: #afd700
URxvt*color10: #daff30
!yellow
URxvt*color3: #f7cf0a
URxvt*color11: #fce70d
!blue
URxvt*color4: #3060aa
URxvt*color12: #6099dd
!magenta
URxvt*color5: #d6156c
URxvt*color13: #fe4365
!cyan
URxvt*color6: #a0c2de
URxvt*color14: #c9dee8
!white
URxvt*color7: #808080
URxvt*color15: #b0b0b0

!droog
!black
!URxvt*color0: #232526
!URxvt*color8: #1e1e1e
!red
!URxvt*color1: #933046
!URxvt*color9: #4b2935
!green
!URxvt*color2: #74835E
!URxvt*color10: #394332
!yellow
!URxvt*color3: #C9B464
!URxvt*color11: #D6993C
!blue
!URxvt*color4: #3b5170
!URxvt*color12: #36416b
!magenta
!URxvt*color5: #6B709C
!URxvt*color13: #474F73
!cyan
!URxvt*color6: #4A6A76
!URxvt*color14: #40505D
!white
!URxvt*color7: #E1E2DB
!URxvt*color15: #888888

!dno
!urxvt*color0: #101010
!urxvt*color1: #f13a21
!urxvt*color2: #93f91d
!urxvt*color3: #ffd00a
!urxvt*color4: #004f9e
!urxvt*color5: #ec0048
!urxvt*color6: #2aa7e7
!urxvt*color7: #f2f2f2
!urxvt*color8: #1d202f
!urxvt*color9: #ff361e
!urxvt*color10: #ffc005
!urxvt*color11: #93ff00
!urxvt*color12: #0071ff
!urxvt*color13: #ef0051
!urxvt*color14: #4bb8fd
!urxvt*color15: #ffffff

!! Light
!URxvt*background: #ffffff
!URxvt*foreground: #22303d
!! black
!URxvt*color0: #cbd9e2
!URxvt*color8: #666666
!! red
!URxvt*color1: #6dacd8
!URxvt*color9: #62aada
!! green
!URxvt*color2: #315b81
!URxvt*color10: #477ea7
!! yellow
!URxvt*color3: #4282b0
!URxvt*color11: #62aada
!! blue
!URxvt*color4: #315b81
!URxvt*color12: #477ea7
!! magenta
!URxvt*color5: #4282b0
!URxvt*color13: #62aada
!! cyan
!URxvt*color6: #315b81
!URxvt*color14: #477ea7
!! white
!URxvt*color7: #22303d
!URxvt*color15: #444444

! Tango
! Black
!URxvt*color0: #1e1e1e
!URxvt*color8: #555753
!! Red
!URxvt*color1: #CC0000
!URxvt*color9: #EF2929
!! Green
!URxvt*color2: #4E9A06
!URxvt*color10: #8AE234
!! Yellow
!URxvt*color3: #C4A000
!URxvt*color11: #FCE94F
!! Blue
!URxvt*color4: #3465A4
!URxvt*color12: #729FCF
!! Purple
!URxvt*color5: #75507B
!URxvt*color13: #AD7FA8
!! Cyan
!URxvt*color6: rgb:06/98/9A
!URxvt*color14: #34E2E2
!! White
!URxvt*color7: #9f9f9f
!URxvt*color15: #e0e0e0

! Zenburn
!URxvt*background: #3F3F3F
!URxvt*foreground: #DCDCCC
! black + red
!URxvt*color0: #1E2320
!URxvt*color1: #705050
! green + yellow
!URxvt*color2: #60b48a
!URxvt*color3: #dfaf8f
! blue + purple
!URxvt*color4: #506070
!URxvt*color5: #dc8cc3
! cyan + white
!URxvt*color6: #8cd0d3
!URxvt*color7: #dcdccc
! bright-black + bright-red
!URxvt*color8: #709080
!URxvt*color9: #dca3a3
! bright-green + bright-yellow
!URxvt*color10: #c3bf9f
!URxvt*color11: #f0dfaf
! bright-blue + bright-purple
!URxvt*color12: #94bff3
!URxvt*color13: #ec93d3

! Solarized
!*background: #002b36
!*foreground: #657b83
!*fadeColor: #002b36
!*cursorColor: #93a1a1
!*pointerColorBackground: #586e75
!*pointerColorForeground: #93a1a1
!*color0: #073642
!*color8: #002b36
!*color1: #dc322f
!*color9: #cb4b16
!*color2: #859900
!*color10: #586e75
!*color3: #b58900
!*color11: #657b83
!*color4: #268bd2
!*color12: #839496
!*color5: #d33682
!*color13: #6c71c4
!*color6: #2aa198
!*color14: #93a1a1
!*color7: #eee8d5
!*color15: #fdf6e3t 
!
!URxvt*background:    #101010
!URxvt*foreground:    #66FF66
!!URxvt*cursorColor:   #66ff66
!!black
!URxvt*color0:        #1c1c1c
!URxvt*color8:        #4d4d4d
!!red
!URxvt*color1:        #D81860
!URxvt*color9:        #F00060
!!green
!URxvt*color2:        #60FF60
!URxvt*color10:       #70FF70
!!yellow
!URxvt*color3:        #f9fd75
!URxvt*color11:       #f9fd80
!!blue
!URxvt*color4:        #4695c8
!URxvt*color12:       #5a9dc8
!!magenta
!URxvt*color5:        #a78edb
!URxvt*color13:       #b29fdb
!!cyan
!URxvt*color6:        #43afce
!URxvt*color14:       #69b8ce
!!white
!URxvt*color7:        #f3ebe2
!URxvt*color15:       #eeeeee
! }}}
! }}}
